<html lang="en" style="height: auto;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cars Market | Fixed Footer Layout</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link rel="stylesheet" href="~/plugins/ekko-lightbox/ekko-lightbox.css">
</head>
<body class="sidebar-mini layout-footer-fixed" style="height: auto;">
    <div class="wrapper">
        <partial name="_NavigationPartial" />


        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="position: fixed;">


            <partial name="_SideBarPartial">

    </div>

    </aside>
    
    <div class="content-wrapper" style="min-height: 1599.06px;">
        <partial name="_CookieConsentPartial" />
        @RenderBody()
    </div>
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.2.0
        </div>
        <strong>Copyright © 2014-@DateTime.Now.Year Cars Market All rights reserved.</strong>
    </footer>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
    <script src="~/plugins/filterizr/jquery.filterizr.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>