@model SendMessageFormView

<section class="content">
		<div class="card">
			<div class="card-body row col-12 justify-content-center">
				<form method="post" class="col-4">
					<div class="form-group">
						<label asp-for="RecieverEmail">E-Mail</label>
						<input type="email" id="inputEmail" class="form-control">
					</div>
					<div class="form-group">
						<label asp-for="Title">Subject</label>
						<input type="text" id="inputSubject" class="form-control">
					</div>
					<div class="form-group">
						<label asp-for="Message">Message</label>
						<textarea id="inputMessage" class="form-control" rows="4"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Send message">
					</div>
				</form>
			</div>
	</div>
</section>