@model ContactFormModel

<section class="content">

	<div class="card">
		<div class="card-body row">
			<div class="col-10 col-sm-6 col-md-4 text-center d-flex align-items-center justify-content-center">
				<div class="row">

					<div class="card bg-light d-flex flex-fill">
						<div class="card-header text-muted border-bottom-0">
							Owner of cars market
						</div>
						<div class="card-body pt-0">
							<div class="row">
								<div class="col-7">
									<h2 class="lead"><b>Yordan Dimitrov</b></h2>
									<p class="text-muted text-sm"><b>About: You can sell cars by using our website </b>  </p>
									<ul class="ml-4 mb-0 fa-ul text-muted">
										<li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Georgi Dimitrov 8, Radnevo 6260, Bulgaria</li>
										<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 359 - 12 12 23 52</li>
									</ul>
								</div>
								<div class="col-5 text-center">
									<img src="~/img/CarMarketLogo.jpg" alt="user-avatar" class="img-circle img-fluid" width="150" height="150">
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="text-right">
								<a href="/Profile/Profile?profileId=30999fac-0e22-4508-a821-c0f99177ae75" class="btn btn-sm btn-primary">
									<i class="fas fa-user"></i> View Profile
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-5">
				<form method="post">
					<div class="form-group">
						<label asp-for="SenderName">Name</label>
						<input asp-for="SenderName" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label asp-for="Sender">E-Mail</label>
						<input asp-for="Sender" type="email" class="form-control">
					</div>
					<div class="form-group">
						<label asp-for="Subject">Subject</label>
						<input asp-for="Subject" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label asp-for="Message">Message</label>
						<textarea asp-for="Message" class="form-control" rows="4"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Send message">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

@*<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">*@