<section class="content-header">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>500 Error Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">500 Error Page</li>
                </ol>
            </div>
        </div>
</section>
<section class="content d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <img class="card-img-top" src="~/img/500.png" alt="Card image cap">
        <div class="card-body">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-lg">
                <span class="glyphicon glyphicon-home"></span>
                Take Me Home
            </a>
        </div>
    </div>
</section>