@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="card align-items-center">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-text-width">
                @ViewData["Title"]
            </i>
            
        </h3>
    </div>

    <div class="card-body">
        <dl>
            <dt class="text-center">Use this page to detail your site's privacy policy.</dt>
            <dd>A description list is perfect for defining terms.</dd>
        </dl>
    </div>

</div>

