@*<div class="card card-secondary">
    <div class="card-header d-flex justify-content-center">
        <h4 class="card-title">Lookin for car.. you can choose your criteria</h4>
    </div>
    <div class="card-body">
        <div>
            <div class="mb-2">
                <button class="btn btn-secondary" id="btn-random">click me</button>
            </div>
        </div>
        <div id="cars-gallery" class="filter-container p-0 row">
        </div>

    </div>
</div>
*@
