@model AddCarFormModel

<div class="d-flex justify-content-center">
	<div class="col-md-3">
		<div class="card card-secondary">
			<div class="card-header">
				<h3 class="card-title">Add car to market</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form method="post" enctype="multipart/form-data">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<!-- text input -->
							<div class="form-group">
								<label asp-for="Make">Make</label>
								<input type="text" class="form-control" asp-for="Make" ValidationExpression="[^<>'=]" placeholder="Enter make">
								<span asp-validation-for="Make" class="text-danger"></span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="Model">Model</label>
								<input type="text" class="form-control" asp-for="Model" placeholder="Enter model">
								<span asp-validation-for="Model" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="Year">Year</label>
								<input type="number" class="form-control" asp-for="Year" placeholder="Enter year">
								<span asp-validation-for="Year" class="text-danger"></span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="Money">Money</label>
								<input type="number" class="form-control" asp-for="Money" placeholder="Enter price">
								<span asp-validation-for="Money" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="Color">Color</label>
								<select asp-for="Color" class="form-control">
									<option>White</option>
									<option>Black</option>
									<option>Red</option>
									<option>Blue</option>
									<option>Green</option>
									<option>Silver</option>
									<option>Gold</option>
									<option>Grey</option>
									<option>Yellow</option>
								</select>
								<span asp-validation-for="Color" class="text-danger"></span>
							</div>

						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="FuelType">FuelType</label>
								<select asp-for="FuelType" class="form-control">
									<option>Diesel</option>
									<option>Petrol</option>
									<option>Hybrid</option>
								</select>
								<span asp-validation-for="FuelType" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="GearboxType">GearboxType</label>
								<select asp-for="GearboxType" class="form-control">
									<option>Automatic</option>
									<option>Manual</option>
									<option>Semi-Automatic</option>
								</select>
								<span asp-validation-for="GearboxType" class="text-danger"></span>
							</div>
						</div>

					</div>
					<div class="col-sm-6">
					</div>

					<div class="form-group">
						<label asp-for="Image">Main image:</label>
						<input type="file" asp-for="Image" /><br><br>

						<label asp-for="Images">More images:</label>
						<input type="file" asp-for="Images" multiple><br><br>
					</div>



					<div class="form-group">
						<label asp-for="Description">Description</label>
						<textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter description"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
				</div>
				<!-- /.card-body -->

				<div class="card-footer">
					<button type="submit" class="btn btn-block btn-secondary">Add Car</button>
				</div>
			</form>
		</div>
	</div>
</div>