@model FilterOptionsFormModel

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card card-primary">
					<div class="card-header">
						<h4 class="card-title">List of all cars for sale</h4>
					</div>
					<div class="card-body">
						<div>
							<div class="mb-2">
								<form method="post">
									<a class="btn btn-secondary" href="javascript:void(0)" data-shuffle=""> Shuffle items </a>
									<div class="float-right">
										<select asp-for="SortByType" class="custom-select" style="width: auto;">
											<option value="Price"> Sort by Price </option>
											<option value="Make"> Sort by Make </option>
										</select>
										<div class="btn-group">
											<input asp-for="OrderByType" class="btn btn-default" value="Ascending" type="submit"></input>
											<input asp-for="OrderByType" class="btn btn-default" value="Descending" type="submit"></input>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div>
							<div class="filter-container p-0 row" style="padding: 3px; position: relative; width: 100%; display: flex; flex-wrap: wrap; height: 515px;">
								@{
									foreach (var car in ViewBag.CarsList)
									{
										<div class="col-md-8 col-lg-4 col-xl-2">
											<div class="card mb-2 bg-gradient-dark">
												<img class="card-img-top" src="@String.Format($"data:image/png;base64,{Convert.ToBase64String(car.Picture)}")" alt="Card image cap" width="250" height="150">
												<div class="card-body">
													<h5 class="card-title"> @car.Make @car.Model </h5>
													<p class="card-text"> @car.Money $ </p>
													<a href="/Details/Details?carId=@car.Id" type="button" class="btn btn-block btn-secondary">Details</a>
												</div>
											</div>
										</div>
									}
								}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

