@model AddCarFormModel

<div class="d-flex justify-content-center">
	<div class="col-md-3">
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">Edit car</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form method="post" enctype="multipart/form-data">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<!-- text input -->
							<div class="form-group">
								<label asp-for="Make">Make</label>
								<input type="text" class="form-control" asp-for="Make"  value="@ViewBag.Car.Make">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="Model">Model</label>
								<input type="text" class="form-control" asp-for="Model" value="@ViewBag.Car.Model">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="Year">Year</label>
								<input type="number" class="form-control" asp-for="Year" value="@ViewBag.Car.Year">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="Money">Money</label>
								<input type="number" class="form-control" asp-for="Money" value="@ViewBag.Car.Money">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="Color">Color</label>
								<select asp-for="Color" class="form-control">
									<option>White</option>
									<option>Black</option>
									<option>Red</option>
									<option>Blue</option>
									<option>Green</option>
									<option>Silver</option>
									<option>Gold</option>
									<option>Grey</option>
									<option>Yellow</option>
								</select>
							</div>

						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="FuelType">FuelType</label>
								<select asp-for="FuelType" class="form-control">
									<option>Diesel</option>
									<option>Petrol</option>
									<option>Hybrid</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label asp-for="GearboxType">GearboxType</label>
								<select asp-for="GearboxType" class="form-control">
									<option>Automatic</option>
									<option>Manual</option>
									<option>Semi-Automatic</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<div class="col-12">
									<label class="col-form-label">Select Image</label>
									<input type="file" asp-for="Image" class="form-control" />
									<span asp-validation-for="Image" class="text-danger"></span>

								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label asp-for="Description">Description</label>
						<textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter description"></textarea>
					</div>
				</div>
				<!-- /.card-body -->

				<div class="card-footer">
					<button type="submit" class="btn btn-primary btn-block">Edit Car</button>
				</div>
			</form>
		</div>
	</div>
</div>