@using Cars_Market.Infrastructure.Data.Models
@model List<Car>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card card-primary">
					<div class="card-header">
						<h4 class="card-title">My list of cars for sale</h4>
					</div>
					<div class="card-body">
						<div>
							<div class="mb-2">
								<a class="btn btn-secondary" href="javascript:void(0)" data-shuffle=""> Shuffle items </a>
								<div class="float-right">
									<select class="custom-select" style="width: auto;" data-sortorder="">
										<option value="index"> Sort by Position </option>
										<option value="sortData"> Sort by Custom Data </option>
									</select>
									<div class="btn-group">
										<a class="btn btn-default" href="javascript:void(0)" data-sortasc=""> Ascending </a>
										<a class="btn btn-default" href="javascript:void(0)" data-sortdesc=""> Descending </a>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div class="filter-container p-0 row" style="padding: 3px; position: relative; width: 100%; display: flex; flex-wrap: wrap; height: 515px;">
								@{
									foreach (var car in Model)
									{
										<div class="col-md-8 col-lg-4 col-xl-2">
											<div class="card mb-2 bg-gradient-dark">
												<img class="card-img-top" src="@String.Format($"data:image/png;base64,{Convert.ToBase64String(car.MainPicture)}")" alt="Card image cap" width="250" height="150">
												<div class="card-body">
													<p class="btn btn-block btn-outline-light"> @car.Make @car.Model </p>
													<p class="btn btn-block btn-outline-light"> @car.Money $ </p>
													 <a href="/Cars/Edit?carId=@car.Id" type="button" class="btn btn-block bg-gradient-success">Edit</a>
													 <a href="/Cars/Delete?carId=@car.Id" type="button" class="btn btn-block bg-gradient-danger">Delete</a>
													
												</div>
											</div>
										</div>
									}
								}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

